amqp==5.3.1
asgiref==3.8.1
# backports.zoneinfo==0.2.1
bcrypt==3.1.7
billiard==4.2.1
blinker==1.4
celery==5.4.0
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.3
cron-descriptor==1.4.5
cryptography==41.0.3
asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.16
django-cors-headers==4.4.0
django-mongoengine==0.5.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.6.1
email-validator==2.2.0
et-xmlfile==1.1.0
fuzzywuzzy==0.18.0
idna==3.10
Levenshtein==0.25.1
mongoengine==0.29.1
numpy==1.24.4
openpyxl==3.1.5
pandas==2.0.3
pillow==10.4.0
PyJWT==2.9.0
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-http-client==3.3.7
python-Levenshtein==0.25.1
pytz==2024.2
rapidfuzz==3.9.7
requests==2.32.3
sendgrid==6.11.0
six==1.16.0
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
tzlocal==5.2
validate-email-address==1
django-cron==0.6.0
